test_films
example_json_barcodes
saved_barcodes

**/__pycache__/
__pycache__
/kalmus/__pycache__/
.ipynb_checkpoints

build
dist
past_dist
api_doc_source
.coverage
.gitignore
.pytest_cache
coverage.xml

_discarded
notebooks/under_constructed_notebooks
notebooks/notebook_example_data/CHI_1_color.avi

/KALMUS_version0.1/.idea
/KALMUS_version0.1/add_data.txt
/KALMUS_version0.1/example_json_barcodes
/KALMUS_version0.1/saved_json_barcode
/KALMUS_version0.1/example_json_barcode
/KALMUS_version0.1/test_films/

.idea
.egg-info
kalmus.egg-info
add_data.txt
requirements.txt

kalmus.spec
kalmus0_2_tutorial.mp4

