test_films
example_json_barcodes
saved_barcodes

**/__pycache__/
__pycache__
/kalmus/__pycache__/

build
dist
past_dist

/KALMUS_version0.1/.idea
/KALMUS_version0.1/add_data.txt
/KALMUS_version0.1/example_json_barcodes
/KALMUS_version0.1/saved_json_barcode
/KALMUS_version0.1/example_json_barcode
/KALMUS_version0.1/test_films/

.idea
.egg-info
kalmus.egg-info
add_data.txt
requirements.txt

kalmus.spec
kalmus0_2_tutorial.mp4
