include kalmus/data/kalmus_icon.ico
include kalmus/data/kalmus_icon.xbm
include kalmus/data/kalmus_icon.jpg
include kalmus/data/mission_impossible_Bright_Whole_frame_Color.json

include requirements.txt
include README.md