attrs==19.1.0
backcall==0.1.0
biopython==1.78
bleach>=3.3.0
certifi==2020.12.5
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
imageio==2.9.0
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
jedi==0.14.1
Jinja2==2.10.1
joblib==1.0.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-console==6.0.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
mpmath==1.1.0
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.5
nose==1.3.7
notebook>=6.1.5
numpy==1.19.4
opencv-python==4.4.0.46
pandocfilters==1.4.2
parso==0.5.1
pickleshare==0.7.5
Pillow>=8.1.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
Pygments==2.4.2
pyparsing==2.4.1.1
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.1.1
pywinpty==0.5.5
qtconsole==4.5.2
scikit-image>=0.16.2
scikit-learn==0.24.0
scipy==1.5.4
Send2Trash==1.5.0
six==1.12.0
sympy==1.4
terminado==0.8.2
testpath==0.4.2
threadpoolctl==2.1.0
tifffile==2020.12.8
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.0
wincertstore==0.2
